html {
	font-size: 150%;
}

body {
	background-color: #111;
	color: lightgrey;
	font-family: serif;
}

a {
	color: grey;
}

code {
	font-family: monospace;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 400px;
	background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpaperaccess.com%2Ffull%2F562430.jpg&f=1&nofb=1&ipt=932a8b3103314eabad2fede1b0c56fded8241a87ce4d15ae1b1c53f1dac28607');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: white;
	font-size: 1em;
	text-shadow: 1px 1px 5px black;
}
